<ion-header [translucent]="true">
  <ion-toolbar>
    <img slot="start" src="assets/covid.gif" width="60px" alt="">
    <ion-title>
      Covid19NG Daily
    </ion-title>
    <ion-text color="danger" slot="end">
      <p style="font-size: 0.7em; margin: 3px;">Click pins for info</p>
    </ion-text>
    <!-- <ion-item slot="end" *ngIf="states">
      <ion-label>States</ion-label>
      <ion-select [interfaceOptions]="customOptions" interface="action-sheet">
        <ion-select-option *ngFor="let state of states" [value]="pizza.id">{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item> -->
  </ion-toolbar>
  <ion-progress-bar *ngIf="!nigeria" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Covid19NG Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <div #mapElement class="map"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="getStates()">
      <ion-icon name="refresh-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="nigeria" class="ion-margin-top" (click)="panToMe()">
      <ion-icon name="person-sharp"></ion-icon>
      <!-- ME -->
    </ion-fab-button>
    <ion-fab-button *ngIf="nigeria" class="ion-margin-top" (click)="getNigeria()">
      <!-- <ion-icon name="analytics-sharp"></ion-icon> -->
      NG
    </ion-fab-button>
  </ion-fab>
</ion-content>
